<!-- Toolbar -->
<div class="box" id="main">
  <div id="space"></div>
  <div class="toolbar" role="banner">    
    <span id="menu-hamburguer" onclick="openNav()" title="">&#9776;</span>
    
    <div class="spacer"></div>

    <a aria-label="Home"  rel="noopener" href="/home" title="Home" >
      <img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/36874.png" id="gamezone-logo">     
      
    </a>

    <a aria-label="ProjetoAngularCarro on Github" target="_blank" rel="noopener" href="https://github.com/ViniciusQueiroz327?tab=repositories"
      title="Github">
      <img src="../assets/icones/Github.png" id="github-logo">
    </a>
    <a aria-label="Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/vinicius.queiroz.921"
      title="Facebook" >
      <img src="https://i.pinimg.com/originals/9b/dd/2b/9bdd2b465a8d0cf027bd5cb4c21f4f1b.png" id="facebook-logo">     
    </a>
  </div>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>